<div ng-controller="sendController">
    <button class="btn btn-success btn-lg " ng-click="options()">Go to Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
     <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <h2>
        ADD MONEY 
    </h2>
     Specify Amount to be added to Wallet:<input ng-model="amount" type="number"  required><br><br>
    <!-- <ul>
      <li ng-repeat="bank in banks" >
           {{bank.bankName}}
      </li>
     </ul>-->
     <select ng-init="from=banks[0]" ng-model="from" >
    <option ng-repeat="bank in banks">{{bank.bankName}}</option>
    </select>
   <!-- Bank Name: <input type="text" ng-model="from">-->
    <button class="btn btn-info btn-lg"   ng-click="add()"> confirm add</button>
    <br>
    <br>
    
    

</div>