<div ng-controller="friendupdateController">
    <h2>
        FRIEND Details
    </h2> 
    <button class="btn btn-success btn-lg" ng-click="options()">Go to Friends List</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
    <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <table  class="table table-striped" >
        <thead>
        <tr>
            <th>FriendName</th>
            <th>Mobile Number</th>
            <th>Email Id </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in friends">
            <td class="filterable-cell">{{x.firstName}} {{x.lastName}}</td>
            <td class="filterable-cell">{{x.mobileNumber}}</td>
            <td class="filterable-cell">{{x.emailId}}</td>
            
        </tr>
        </tbody>
    </table>
     <hr>
     <input ng-model="id" type="text" hidden><br><br>
     Name: <input ng-model="fname" type=""  readonly><br><br>
     Mobile Number: <input ng-model="mobile" type="number"  readonly><br><br>
      Email: <input ng-model="email" type=""  readonly><br><br>
    <button class="btn btn-danger btn-lg" ng-click="remove()">Unfriend</button>
    <hr>
    <p>Send Money Directly to friends by specifying amount</p>
    Specify Amount to be transferred: <input ng-model="amount" type="number"  required><br><br>
    <button class="btn btn-info btn-lg" ng-click="send()">Send Money</button>
    <br>
    <br>
    <p>Ask Money from friends.They will receive Notifications</p>
    Specify Amount to be Borrowed: <input ng-model="borrow" type="number"  required><br><br>
    <button class="btn btn-info btn-lg" ng-click="ask()">Ask Money</button>
    <br>
    <br>
</div>

</div>