<div ng-controller="loginController">
    <div>
        <h2>Login</h2>
        <hr>
        <label>Mobile Number</label>
        <input type="number" name="" ng-model="login.mobileNumber" id="" value="" required>
        <br>
        <br>
        <label>Password</label>
        <input type="password" name="" ng-model="login.password" id="" value="" required>
        <br>
        <br>

        <button class="btn btn-success btn-lg"  ng-click="login()">Login</button>
        <button class="btn btn-info btn-lg" ng-click="back()">SignUp</button>
        <br>
        <br>
    
    </div>
    
</div>