<style>
    tbody { cursor: pointer; }
    </style>
<div ng-controller="notifyController">
    <h2>
         Notifications
    </h2>
    <button class="btn btn-success btn-lg" ng-click="options()">Go to Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button><br>
    <br>
    <label>Balance</label>
    <input type="" name="" ng-model="wallet" id="" value="" readonly>
    <br><br>
    <hr>
    <input type="" name="" ng-model="id" id="" value=""  hidden readonly>
    <br><br>
   
    <div class="alert alert-info">
        <p>Search Query: {{searchtable}}</p>
    </div>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search Notificatios" ng-model="searchtable">
            </div>
        </div>
    </form>

    <table class="table table-condensed table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    <a href='{{"#/user/"+id+"/notification"}}' ng-click="sortType = 'notificationType'; sortReverse = !sortReverse">
                 Type  
             <span ng-show="sortType == 'notificationType' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'notificationType' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                <th>
                    <a href='{{"#/user/"+id+"/notification"}}' ng-click="sortType = 'msg'; sortReverse = !sortReverse">
                MSG
                <span ng-show="sortType == 'msg' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'msg' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                <th>
                TIME
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in updates | orderBy:sortType:sortReverse|filter:searchtable" ng-class="{ success:(x.read==false) }" ng-click=remove(x.time)>
                <td class="filterable-cell">{{x.notificationType}}</td>
                <td class="filterable-cell">{{x.msg}}</td>
                <td class="filterable-cell">{{x.time|date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    
</div>