
<div ng-controller="optController">
    <div class = "btn-group-vertical">
    <button type="button" ng-click="opt.wallet()" class="btn btn-info btn-lg">
      <i class="material-icons">account_balance_wallet</i> WALLET
    </button>
    <br><br>
    <button type="button" ng-click="opt.account()" class="btn btn-primary btn-lg">
      <i class="material-icons">account_circle</i> MY ACCOUNT
    </button>
    <br><br>
    <button type="button" ng-click="opt.notify()" class="btn btn-success btn-lg">
     <i class="material-icons">notifications</i>Notifications
     <span class="badge">{{count}}</span>
    </button>
    <br><br>
    <button type="button" ng-click="opt.bank()" class="btn btn-success btn-lg">
     <i class="material-icons">account_balance</i>Bank Details
    </button>
    <br><br>
     <button type="button" ng-click="opt.referral()" class="btn btn-info btn-lg">
      <i class="material-icons">local_library</i> Referral Status
    </button>
    <br><br>
     <button type="button" ng-click="opt.pay()" class="btn btn-danger btn-lg">
      <i class="material-icons">payment</i> Pay
    </button>
    <br><br>
     <button type="button" ng-click="opt.friend()" class="btn btn-info btn-lg">
      <i class="material-icons">face</i> Friends
    </button>
    <br><br>
<button type="button" ng-click="opt.logout()" class="btn btn-danger btn-lg">
     <i class="material-icons">lock_open</i></span> Logout
    </button>
    <br><br>

    </div>
    <!-- <button class="btn btn-primary" ng-click="opt.wallet()">Wallet</button><br><br>

    <button class="btn btn-primary" ng-click="opt.account()">My Account</button><br>

    <button class="btn btn-primary" ng-click="opt.bank()">Bank Details</button>

    <button class="btn btn-primary" ng-click="opt.referral()">Referral</button>

    <button class="btn btn-warning" ng-click="opt.pay()">Pay</button>

    <button class="btn btn-primary" ng-click="opt.friend()">Friends</button>

    <button class="btn btn-primary" ng-click="opt.logout()">Logout</button>-->

</div>