<div ng-controller="referralController">
    <h2>
        REFERRAL STATUS
    </h2>
    <button class="btn btn-success btn-lg" ng-click="options()">Go to Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
    <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <label>No. of referrals</label>
    <input type="" name="" ng-model="count"  readonly>
    <br><br>
    <label>No.of referrals needed to become a Star user</label>
    <input type="" name="" ng-model="diff"  readonly>
    <br><br>
    <p>Note:Star User gets 500 Rupees Added to wallet!!!  </p>
    <hr>
    <label>Mobile Number</label>
    <input type="number" required   name="" ng-model="mobile"/>
    <br><br>
     <button class="btn btn-info btn-lg" ng-click="invitation()">Send Invite</button>    


</div>