<div ng-controller="signupController">
    <div>
        <h2>SignUp</h2>
        <br><br>
        <hr>
        <label>Firstname</label>
        <input type="" name="" ng-model="signup.firstName" id="" value="" required>
        <br><br>
        <label>LastName</label>
        <input type="" name="" ng-model="signup.lastName" id="" value="">
        <br><br>
        <label>Email Address</label>
        <input type="email" name="" ng-model="signup.emailId" id="" value="" required>
        <br><br>
        <label>Mobile Number</label>
        <input type="number" name="" ng-model="signup.mobileNumber" id="" value="" required>
        <br><br>
        <label>Password</label>
        <input type="password" name="" ng-model="signup.password" id="1" value="" required>
        <br><br>
        <label>ReferralCode</label>
        <input type="text" name="" ng-model="signup.referralcode" id="" value="">
        <br><br>
        <br><br><br>
        <button class="btn btn-success"  ng-click="signup()">SignUp</button>
        <button  class="btn btn-info" ng-click="back()">BacktoHome</button>

        <hr>
    </div>
</div>
<script>
