<div ng-controller="walletController">

    <h2>
        WALLET DETAILS
    </h2>
    <button class="btn btn-success btn-lg" ng-click="options()">Go to Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
    <hr>
    <label>Balance</label>
    <input type="" name="" ng-model="balance" id="" value="" readonly>
    <br><br>
    <label>Star User</label>
    <input type="checkbox" ng-model="star" onclick="return false" >
    <br><br>
    <label></label>
    <input type="" name="" ng-model="id" id="" value=""  hidden readonly>
    <br><br>
    <!-- <label>MESSAGE</label>
    <textarea rows='25' cols='50' ng-model="message">
    </textarea>
    <br><br>-->
    <div class="alert alert-info">
        <p>Search Query: {{ searchtable }}</p>
    </div>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search Table" ng-model="searchtable">
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <a href='{{"#/user/"+id+"/wallet"}}' ng-click="sortType = 'notation'; sortReverse = !sortReverse">
                 Notation    
             <span ng-show="sortType == 'notation' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'notation' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                <th>
                    <a href='{{"#/user/"+id+"/wallet"}}' ng-click="sortType = 'amount'; sortReverse = !sortReverse">
                Amount
                <span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'amount' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                <th>
                    <a href='{{"#/user/"+id+"/wallet"}}' ng-click="sortType = 'from'; sortReverse = !sortReverse">
                FROM
                <span ng-show="sortType == 'from' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'from' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                <th>
                    <a href='{{"#/user/"+id+"/wallet"}}' ng-click="sortType = 'to'; sortReverse = !sortReverse">
                TO
                <span ng-show="sortType == 'to' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'to' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                <th>
                TIME
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in message | orderBy:sortType:sortReverse|filter:searchtable">
                <td class="filterable-cell">{{x.notation}}</td>
                <td class="filterable-cell">{{x.amount}}</td>
                <td class="filterable-cell">{{x.from}}</td>
                <td class="filterable-cell">{{x.to}}</td>
                <td class="filterable-cell">{{x.Tdate|date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    
</div>